salam_offer_cheaper_analysis_n8n.json
{
  "name": "Salam Offer - Django Analysis Trigger",
  "nodes": [
    {
      "parameters": {},
      "id": "7b9b35f4-3b0b-4eb8-a9a2-0a6d28dfd901",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-760, 240]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "salam-offer/analyze-run",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "fd46a941-f1e2-47ab-a6b8-5f072a4d8b3d",
      "name": "Webhook Analyze Run",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-760, 440]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "b2d8ec82-6c4a-42db-9a28-9f3c824df001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-760, 40]
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first()?.json ?? {};\nconst body = row.body ?? row;\n\nfunction tehranDate() {\n  const parts = new Intl.DateTimeFormat('en-CA', {\n    timeZone: 'Asia/Tehran',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n  }).formatToParts(new Date());\n  const map = Object.fromEntries(parts.map(part => [part.type, part.value]));\n  return `${map.year}-${map.month}-${map.day}`;\n}\n\nconst baseUrl = String(\n  body.base_url ??\n  body.baseUrl ??\n  body.salam_offer_base_url ??\n  'https://salam-offer.titanapp.dev'\n).replace(/\\/$/, '');\n\nreturn [{\n  json: {\n    base_url: baseUrl,\n    run_key: body.run_key ?? body.runKey ?? '',\n    business_date: body.business_date ?? body.businessDate ?? tehranDate(),\n    limit: Number(body.limit ?? 10),\n    older_than_minutes: Number(body.older_than_minutes ?? body.olderThanMinutes ?? 30),\n    actor: body.actor ?? 'n8n_scheduler',\n  }\n}];"
      },
      "id": "d78d07db-1874-40bb-8d7e-22c2d73b7060",
      "name": "Build Process Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-480, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.base_url + '/api/analysis/process-batch/'}}",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "run_key",
              "value": "={{$json.run_key}}"
            },
            {
              "name": "business_date",
              "value": "={{$json.business_date}}"
            },
            {
              "name": "limit",
              "value": "={{$json.limit}}"
            },
            {
              "name": "older_than_minutes",
              "value": "={{$json.older_than_minutes}}"
            },
            {
              "name": "actor",
              "value": "={{$json.actor}}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "fda3d95e-4d61-48f9-9c8a-75349b7c8f43",
      "name": "Process Batch In Salam Offer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-200, 240]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Process Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Analyze Run": {
      "main": [
        [
          {
            "node": "Build Process Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Build Process Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Process Request": {
      "main": [
        [
          {
            "node": "Process Batch In Salam Offer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-06-07T00:00:00.000Z",
  "versionId": "salam-offer-django-analysis-trigger-v1"
}
